.login-background {
  background-image: url("./../../../assets/1457718455276\ 1.png"),
    url("./../../../assets/1457718455276\ 2.png") !important;

  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;

  ::after {
    content: "ADAD";
  }
}
